<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SFTP_SERVER" value=""/>
		<add key="SFTP_USER" value=""/>
		<add key="KEY_PATH" value=""/>
		<add key="KEY_PASS_PHRASE" value=""/>
		<add key="DB_SERVER" value=""/>
		<add key="DB_USER" value=""/>
		<add key="DB_PASS" value=""/>
		<add key="DB_NAME" value=""/>
		<add key="DB_SCHEMA" value=""/>
		<add key="SHOP_CODE" value=""/>
	</appSettings>
</configuration>